name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: test-runner-2
    steps:
    - uses: actions/checkout@v3
    - run: npm install
    - run: npm run build
    - run: screen -d -m -S maukibottv bash -c 'npm run start'
