name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: vs01
    steps:
    - uses: actions/checkout@v3
    - run: npm install
    - run: npm run build
    - run: sudo systemctl restart maukibottv.service
