name: Jenkins

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: trigger single Job
      uses: appleboy/jenkins-action@master
      with:
        url: "http://93.221.240.168:8080"
        user: "example"
        token: ${{ secrets.JENKINS_TOKEN }}
        job: "foobar"
